:root {
  --text: #e9ecef;
  --text-h: #dbd8f5;
  --bg: #000509;
  --card-bg: #474545;
  --border: #37404b;
  --accent: #f59e0b;
  --accent-hover: #d97706;
  --primary: #1e1b4b;
  --primary-hover: #312e81;
  --danger: #ef4444;
  --success: #16a34a;
  --warning: #f59e0b;

  --income: #16a34a;
  --expense: #ef4444;

  --sans: "Inter", system-ui, sans-serif;
  --heading: Georgia, "Times New Roman", serif;
  --mono: "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--sans);
  background: var(--bg);
  color: var(--text);
}
